* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background-image: linear-gradient(
    to right bottom,
    #696969d0,
    #252525d0),
    url(../../images/bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  margin: 0 6%;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
}

p {
  margin-bottom: 15px;
}

.header {
  height: 100vh;
  position: relative;
}

.heading-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
  backface-visibility: hidden;
}

.heading-main {
  display: block;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 20px;
  animation: moveInLeft 1s ease-out;
}

.heading-sub {
  display: block;
  font-size: .6em;
  font-weight: 400;
  letter-spacing: 14px;
  animation: moveInRight 1s ease-out;
}

.nav-box {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  animation: moveInBottom 1s ease-out;
  animation-fill-mode: backwards;
}

.nav-item {
  display: inline;
  margin: 10px;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: pink;
}

.section {
  background-color: #fff;
  padding: 50px 10% 50px 10%;
}

.section-alt {
  /* background-image:
    linear-gradient(
      to right bottom,
      #696969d0,
      #252525d0); */
  background-color: #252525d0;
  padding: 50px 10% 50px 10%;
  color: #fff;
}

.section-heading {
  margin-bottom: 30px;
}

.project-img {
  width: 100%;
}

.contact-content {
  display: flex;
  flex-direction: row;
}

.contact-form,
.links {
  width: 50%;
}

input,
textarea {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(119, 119, 119, 0.432);
  margin: 10px 0;
}

.footer {
  padding: 20px 0;
  text-align: center;
  font-size: .8em;
}

/* ANIMATIONS */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@media screen and (max-width: 400px) {
  body {
    margin: 0;
  }

  .nav-box {
    font-weight: 300;
  }

  .heading-main {
    letter-spacing: 15px;
    font-size: 1em;
  }

  .heading-sub {
    font-size: .5em;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
  }

  .contact-form,
  .links {
    width: 100%;
  }

}
