* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* aka 10px */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  background-image: linear-gradient(
    to right bottom,
    #696969d0,
    #252525d0),
    url(../../images/bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  /* margin: 0 6%; */
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2;
}

p {
  margin-bottom: 1.5rem;
}

.header {
  height: 100vh;
  position: relative;
}

.heading-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
}

.heading-main {
  display: block;
  font-size: 4.1rem;
  font-weight: 300;
  letter-spacing: 2rem;
  animation: moveInLeft 1s ease-out;
}

.heading-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.4rem;
  animation: moveInRight 1s ease-out;
}

.nav-box {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
  color: #fff;
  animation: moveInBottom 1s ease-out;
  animation-fill-mode: backwards;
}

.nav-item {
  display: inline;
  margin: 1rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: pink;
}

.section {
  background-color: #fff;
  padding: 5rem 10% 5rem 10%;
  font-size: 1.6rem;
}

.section h2 {
  color: darkgreen;
}

.section-alt {
  /* background-image:
    linear-gradient(
      to right bottom,
      #696969d0,
      #252525d0); */
  background-color: #252525b9;
  padding: 5rem 10% 5rem 10%;
  color: #fff;
}

.section-heading {
  margin-bottom: 3rem;
}

.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .skills-item {
  flex: 1 0 0;
} */

.project-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 5rem;
}

.project-img-box {
  flex: 1 0 0;
}

.project-img {
  border: 1px #777 solid;
  width: 100%;
}

.project-content {
  padding-left: 2rem;
  flex: 1 0 0;
}

.icons {
  word-spacing: 1rem;
}

.icons a {
  color: #777;
}

.icons a:hover {
  color: pink;
}

.contact-content {
  display: flex;
  flex-direction: row;
}

.contact-form,
.links {
  flex: 1 0 0;
}

input,
textarea {
  width: 100%;
  height: 3rem;
  border-radius: .5rem;
  background-color: rgba(119, 119, 119, 0.432);
  margin: 1rem 0;
}

.footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.2rem;
}

/* ANIMATIONS */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@media screen and (max-width: 1024px) {
  /* html {
    font-size: 120%;
  } */

  .skills-content {
    flex-direction: column;
  }

  .project-item {
    flex-direction: column;
  }

  .project-content {
    padding-left: 0;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-form,
  .links {
    flex: none;
  }
}

@media screen and (max-width: 375px) {
  /* html {
    font-size: 50%;
  } */

  body {
    margin: 0;
  }

  .nav-box {
    font-weight: 300;
  }

  .heading-main {
    letter-spacing: 1.5rem;
    font-size: 2em;
  }

  .heading-sub {
    font-size: 1em;
  }

}
